In [35]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
from sqlite3 import IntegrityError
from psycopg2 import errors

In [36]:
article = pd.read_csv('articles.csv')
twitter = pd.read_csv('twitter_sentiment.csv')

In [37]:
def transpose_dataframe(df):
    dic = {'Year': [2016, 2017, 2018, 2019, 2020, 2021, 2022], 'Immigration': [], 'Racial': [], "Abortion": [], 'Socioeconomic': []}
    for index, row in df.iterrows():
        key = row['Bias Term']
        dic[key].append(row['Average Sentiment Score'])
    return dic

In [34]:
# DATABASE = "electiondb"
# USER = "postgres"
# PASSWORD = "1668"
# HOST = "localhost"
# PORT = "5433"

# # Connect to your PostgreSQL database
# conn = psycopg2.connect(
#     database=DATABASE,
#     user=USER,
#     password=PASSWORD,
#     host=HOST,
#     port=PORT
# )

# # Create a sqlalchemy engine
# engine = create_engine(f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}")

# # Upload the data frames to the database using the voters table
# twitter_data.to_sql("twitter_sentiment", engine, if_exists="append", index=False)

# # Commit the changes to the database
# conn.commit()

# # Close the database connection
# conn.close()

In [39]:
article.head()

,year,source,published,content,abortion,race,immigration,socio_eco,norm_neg,norm_pos,compound
0,2016,CBS,2016-11-16 00:00:00,in the wake of the election the antidefamation...,planned parenthood,NaN,NaN,NaN,0.666667,0.333333,-0.9989
1,2016,CBS,2016-12-15 00:00:00,u intelligence source be not just point the fi...,planned parenthood,NaN,NaN,NaN,0.455696,0.544304,0.8768
2,2017,CBS,2017-06-20 00:00:00,tuesday special election in georgia 6th congre...,planned parenthood,NaN,NaN,NaN,0.595890,0.404110,-0.9698
3,2017,CBS,2017-06-22 00:00:00,senate republican unveiled a discussion draft ...,planned parenthood,NaN,NaN,NaN,0.410448,0.589552,0.9830
4,2017,CBS,2017-04-04 00:00:00,chelsea clinton on tuesday express doubt that ...,planned parenthood,NaN,NaN,NaN,0.301980,0.698020,0.9893

In [41]:
twitter.head()

   Year  Immigration    Racial  Abortion  Socioeconomic
0  2016    -0.050966 -0.287514 -0.175296       0.078083
1  2017    -0.056006 -0.291790 -0.180437       0.078166
2  2018    -0.054213 -0.291755 -0.171763       0.078139
3  2019    -0.055452 -0.290693 -0.174275       0.078169
4  2020    -0.054611 -0.288259 -0.168331       0.078126

## Extract immigration data

In [50]:
# Dataframe with immigration articles
condition = article['immigration'].notnull()

selected_immigration = article.loc[condition, ['year', 'source', 'compound']]
print(selected_immigration)

       year source  compound
2589   2018    CBS    0.9979
2590   2018    CBS    0.9454
2591   2018    CBS   -0.7946
2592   2018    CBS    0.9993
2593   2018    CBS    0.9904
...     ...    ...       ...
13076  2020    NPR    0.9406
13077  2020    NPR   -0.9744
13078  2020    NPR    0.9991
13079  2020    NPR    0.9998
13080  2020    NPR   -0.9929

[8013 rows x 3 columns]

In [52]:
im_2016 = selected_immigration[selected_immigration['year']== 2016]
im_2017 = selected_immigration[selected_immigration['year']== 2017]
im_2018 = selected_immigration[selected_immigration['year']== 2018]
im_2019 = selected_immigration[selected_immigration['year']== 2019]
im_2020 = selected_immigration[selected_immigration['year']== 2020]

In [54]:
def take_avg(list_of_compound):
    return sum(list_of_compound)/len(list_of_compound)

In [64]:
article_sentiment = {'Year': [2016, 2017, 2018, 2019, 2020], 'Immigration': [], 'Racial': [], 'Abortion': [], 'Socioeconomic': []}
def get_avg(df):
    avg = take_avg(df['compound'])
    return avg

In [65]:
im_list = [im_2016, im_2017, im_2018, im_2019, im_2020]
for item in im_list:
    temp = get_avg(item)
    article_sentiment['Immigration'].append(temp)
print(article_sentiment)

{'Year': [2016, 2017, 2018, 2019, 2020], 'Immigration': [0.34002094196804006, 0.3146608900876598, 0.34094116871704794, 0.31850441952506564, 0.2852006459948315], 'Racial': [], 'Abortion': [], 'Socioeconomic': []}

## Extract Racial Data

In [61]:
# Dataframe with immigration articles
condition = article['race'].notnull()

selected_racial = article.loc[condition, ['year', 'source', 'compound']]
print(selected_racial)

      year source  compound
27    2016    CNN   -0.9935
28    2016    CNN    0.9997
29    2016    CNN   -0.9951
30    2016    CNN   -0.9919
102   2016    CNN    0.9815
...    ...    ...       ...
5125  2020    NPR    0.9989
5126  2020    NPR    0.9775
5127  2020    NPR    0.9137
5128  2020    NPR    0.9812
5129  2020    NPR   -0.7957

[2952 rows x 3 columns]

In [62]:
ra_2016 = selected_racial[selected_racial['year']== 2016]
ra_2017 = selected_racial[selected_racial['year']== 2017]
ra_2018 = selected_racial[selected_racial['year']== 2018]
ra_2019 = selected_racial[selected_racial['year']== 2019]
ra_2020 = selected_racial[selected_racial['year']== 2020]

In [66]:
ra_list = [ra_2016, ra_2017, ra_2018, ra_2019, ra_2020]
for item in ra_list:
    temp = get_avg(item)
    article_sentiment['Racial'].append(temp)
print(article_sentiment)

{'Year': [2016, 2017, 2018, 2019, 2020], 'Immigration': [0.34002094196804006, 0.3146608900876598, 0.34094116871704794, 0.31850441952506564, 0.2852006459948315], 'Racial': [0.29553961218836583, 0.3660570850202431, 0.41591496402877665, 0.38278146214099185, 0.2136149289099527], 'Abortion': [], 'Socioeconomic': []}

## Extract Abortion Data

In [67]:
# Dataframe with immigration articles
condition = article['abortion'].notnull()

selected_abortion = article.loc[condition, ['year', 'source', 'compound']]
print(selected_abortion)

      year source  compound
0     2016    CBS   -0.9989
1     2016    CBS    0.8768
2     2017    CBS   -0.9698
3     2017    CBS    0.9830
4     2017    CBS    0.9893
...    ...    ...       ...
2242  2020    NPR    0.8658
2243  2020    NPR    0.9910
2244  2020    NPR    0.9234
2245  2020    NPR    0.9992
2246  2020    NPR   -0.9827

[1992 rows x 3 columns]

In [68]:
ab_2016 = selected_abortion[selected_abortion['year']== 2016]
ab_2017 = selected_abortion[selected_abortion['year']== 2017]
ab_2018 = selected_abortion[selected_abortion['year']== 2018]
ab_2019 = selected_abortion[selected_abortion['year']== 2019]
ab_2020 = selected_abortion[selected_abortion['year']== 2020]

In [69]:
ab_list = [ab_2016, ab_2017, ab_2018, ab_2019, ab_2020]
for item in ab_list:
    temp = get_avg(item)
    article_sentiment['Abortion'].append(temp)
print(article_sentiment)

{'Year': [2016, 2017, 2018, 2019, 2020], 'Immigration': [0.34002094196804006, 0.3146608900876598, 0.34094116871704794, 0.31850441952506564, 0.2852006459948315], 'Racial': [0.29553961218836583, 0.3660570850202431, 0.41591496402877665, 0.38278146214099185, 0.2136149289099527], 'Abortion': [0.45364585741811214, 0.617786614173228, 0.552726287262873, 0.5332698630136986, 0.49413793650793647], 'Socioeconomic': []}

## Extract Socioeconomic Data

In [70]:
# Dataframe with Socioeconomic articles
condition = article['socio_eco'].notnull()

selected_socio = article.loc[condition, ['year', 'source', 'compound']]
print(selected_socio)

       year source  compound
8738   2020    CNN    0.9975
8739   2020    CNN   -0.9621
8740   2020    CNN   -0.9647
8741   2018    FOX    0.7918
8770   2020    CNN    0.9996
...     ...    ...       ...
15909  2020    NPR    0.9986
15910  2020    NPR    0.9962
15911  2020    NPR    0.9994
15912  2020    NPR    0.9987
15913  2020    NPR    0.9915

[2957 rows x 3 columns]

In [71]:
so_2016 = selected_socio[selected_socio['year']== 2016]
so_2017 = selected_socio[selected_socio['year']== 2017]
so_2018 = selected_socio[selected_socio['year']== 2018]
so_2019 = selected_socio[selected_socio['year']== 2019]
so_2020 = selected_socio[selected_socio['year']== 2020]

In [72]:
so_list = [so_2016, so_2017, so_2018, so_2019, so_2020]
for item in so_list:
    temp = get_avg(item)
    article_sentiment['Socioeconomic'].append(temp)
print(article_sentiment)

{'Year': [2016, 2017, 2018, 2019, 2020], 'Immigration': [0.34002094196804006, 0.3146608900876598, 0.34094116871704794, 0.31850441952506564, 0.2852006459948315], 'Racial': [0.29553961218836583, 0.3660570850202431, 0.41591496402877665, 0.38278146214099185, 0.2136149289099527], 'Abortion': [0.45364585741811214, 0.617786614173228, 0.552726287262873, 0.5332698630136986, 0.49413793650793647], 'Socioeconomic': [0.5646081664098616, 0.5795547945205477, 0.6607073558648113, 0.6954509433962266, 0.5910850549450551]}

In [73]:
article_sentiment_df = pd.DataFrame(article_sentiment)
print(article_sentiment_df)

   Year  Immigration    Racial  Abortion  Socioeconomic
0  2016     0.340021  0.295540  0.453646       0.564608
1  2017     0.314661  0.366057  0.617787       0.579555
2  2018     0.340941  0.415915  0.552726       0.660707
3  2019     0.318504  0.382781  0.533270       0.695451
4  2020     0.285201  0.213615  0.494138       0.591085

In [77]:
#rename col title to merge data
article_sentiment_df = article_sentiment_df.rename(columns={'Immigration': 'art_Immigration', 'Racial': 'art_Racial',
                                                           'Abortion': 'art_Abortion', 'Socioeconomic': 'art_Socioeconomic'})
print(article_sentiment_df)

   Year  art_Immigration  art_Racial  art_Abortion  art_Socioeconomic
0  2016         0.340021    0.295540      0.453646           0.564608
1  2017         0.314661    0.366057      0.617787           0.579555
2  2018         0.340941    0.415915      0.552726           0.660707
3  2019         0.318504    0.382781      0.533270           0.695451
4  2020         0.285201    0.213615      0.494138           0.591085

In [78]:
twitter = twitter.rename(columns = {'Immigration': 'tw_Immigration', 'Racial': 'tw_Racial', 'Abortion': 'tw_Abortion', 
                                   'Socioeconomic': 'tw_Socioeconomic'})
print(twitter)

   Year  tw_Immigration  tw_Racial  tw_Abortion  tw_Socioeconomic
0  2016       -0.050966  -0.287514    -0.175296          0.078083
1  2017       -0.056006  -0.291790    -0.180437          0.078166
2  2018       -0.054213  -0.291755    -0.171763          0.078139
3  2019       -0.055452  -0.290693    -0.174275          0.078169
4  2020       -0.054611  -0.288259    -0.168331          0.078126
5  2021       -0.055628  -0.292840    -0.182862          0.078177
6  2022       -0.056524  -0.292167    -0.146302          0.078139

In [79]:
# Assuming df1 and df2 are your DataFrames
merged_sentiment = pd.merge(twitter, article_sentiment_df, on='Year', how='outer')
print(merged_sentiment)

   Year  tw_Immigration  tw_Racial  tw_Abortion  tw_Socioeconomic  \
0  2016       -0.050966  -0.287514    -0.175296          0.078083
1  2017       -0.056006  -0.291790    -0.180437          0.078166
2  2018       -0.054213  -0.291755    -0.171763          0.078139
3  2019       -0.055452  -0.290693    -0.174275          0.078169
4  2020       -0.054611  -0.288259    -0.168331          0.078126
5  2021       -0.055628  -0.292840    -0.182862          0.078177
6  2022       -0.056524  -0.292167    -0.146302          0.078139

   art_Immigration  art_Racial  art_Abortion  art_Socioeconomic
0         0.340021    0.295540      0.453646           0.564608
1         0.314661    0.366057      0.617787           0.579555
2         0.340941    0.415915      0.552726           0.660707
3         0.318504    0.382781      0.533270           0.695451
4         0.285201    0.213615      0.494138           0.591085
5              NaN         NaN           NaN                NaN
6              NaN         NaN           NaN                NaN

In [28]:
# data = pd.pivot_table(twitter, values = 'Average Sentiment Score', index = 'Year', columns= "Bias Term")
# data

Bias Term  Abortion  Immigration    Racial  Socioeconomic
Year
2016      -0.175296    -0.050966 -0.287514       0.078083
2017      -0.180437    -0.056006 -0.291790       0.078166
2018      -0.171763    -0.054213 -0.291755       0.078139
2019      -0.174275    -0.055452 -0.290693       0.078169
2020      -0.168331    -0.054611 -0.288259       0.078126
2021      -0.182862    -0.055628 -0.292840       0.078177
2022      -0.146302    -0.056524 -0.292167       0.078139

      year source  compound
4799  2016    CNN    0.9869
4800  2016    CNN    0.9171
4801  2016    CNN   -0.9992
4834  2016    CNN    0.9977
4896  2016    CNN   -0.9967